
<div class="p-8">



    <!-- Main content -->
    <main role="main">
        <div class="py-8">
          <h2>User Profile</h2>
        </div>

        <!-- Show user data when logged in -->
        <div *ngIf="authService.userData as user">
              <div>
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
              </div>
        </div>

    </main>


    <div class="formGroup mb-2 mx-2">
        <input type="button" class="p-4 rounded w-full bg-red-400 text-white" value="Log out" (click)="authService.SignOut()">
      </div>
</div>