<app-header></app-header>

  <div class="p-8 pb-0">
    <h1 class="text-2xl font-bold text-blue-900">Dashboard</h1>
    <div class="mt-2 w-8 h-2 bg-blue-900"></div>
  </div>

  <div class="w-full flex p-8">
    <div class="w-1/2 bg-transparent mr-4 text-center">
      <div class="bg-gray-200 p-8" routerLink="/measure">
        <i class="fa fa-chart-bar fa-2x text-blue-900  py-4"></i>
      </div>
      <div>
          <h3 class="font-bold text-blue-900 pt-4">Measure</h3>
        </div>
    </div>
   
    <div class="w-1/2 bg-transparent ml-4 text-center">
      <div class="bg-gray-200 p-8" routerLink="/exercises">
        <i class="fa fa-bullseye fa-2x text-blue-900 py-4"></i>
      </div>
      <div>
          <h3 class="font-bold text-blue-900 pt-4">Exercises</h3>
        </div>
    </div>
  </div>

  <div class="w-full flex px-8">
      <div class="w-1/2  mr-4 text-center">
        <div class="bg-gray-200 p-8 " routerLink="/history">
          <i class="fa fa-history fa-2x text-blue-900  py-4"></i>
        </div>
        <div>
            <h3 class="font-bold text-blue-900 pt-4">History</h3>
          </div>
      </div>
  
      <div class="w-1/2 bg-transparent ml-4 text-center">
        <div class="bg-gray-200 p-8" routerLink="/contact">
          <i class="fa fa-comment-alt fa-2x text-blue-900  py-4"></i>
        </div>
        <div>
            <h3 class="font-bold text-blue-900 pt-4">Contact</h3>
          </div>
      </div>
    </div>
<!-- <div class="p-8">

        <div class="py-8">
          <h1 class="text-2xl font-bold text-blue-900">User Profile</h1>
        </div>

        <div *ngIf="authService.userData as user">
              <div>
                <h3 class="mb-2"><strong>User ID:</strong> {{user.uid}}</h3>
                <h3 class="mb-2"><strong>E-mail:</strong> {{user.email}}</h3>
                <h3 class="mb-2"><strong>E-mail Verified:</strong> {{user.emailVerified}}</h3>
              </div>
        </div>


    <div class="mb-2 pt-8 w-1/3">
        <input type="button" class="p-4 rounded w-full bg-red-600 text-white" value="Log out" (click)="authService.SignOut()">
      </div>

    
</div> -->
<app-navigation></app-navigation>