<div class="w-full mt-8 pt-8">
  <div class="p-8">

    <div class="authBlock p-8">


  <div class="pb-8 mb-8 text-center text-black"><img class="" src="assets/images/logo.png"></div>
  <div class="w-full">
      <div class="text-center mb-2">
        <input type="email" class="w-full p-4 rounded border border-grey border-solid" placeholder="Email Address" #userEmail required>
      </div>

      <div class="text-center mb-2">
        <input type="password" class="w-full p-4 rounded border border-grey border-solid" placeholder="Password" #userPwd required>
      </div>

      <div class="mb-2">
        <input type="button" class="p-4 rounded w-full bg-blue-900 text-white font-bold" value="Register"
          (click)="authService.SignUp(userEmail.value, userPwd.value)">
      </div>
    </div>


      <div class="redirectToLogin text-center text-blue-900 pt-8">
          <span class="redirect" routerLink="/sign-in">Already have an account? Login</span>
        </div>

    </div>

  </div>
</div>
