<app-header></app-header>


    <div class="p-8">
        <h1 class="text-2xl font-bold text-blue-900">Personal profile</h1>
        <div class="mt-2 w-8 h-2 bg-blue-900"></div>
      </div>

        <div *ngIf="authService.userData as user" class="px-8">
              <div>
                <h3 class="mb-2 text-blue-900"><strong>User ID:</strong> {{user.uid}}</h3>
                <h3 class="mb-2 text-blue-900"><strong>E-mail:</strong> {{user.email}}</h3>
                <h3 class="mb-2 text-blue-900"><strong>E-mail Verified:</strong> {{user.emailVerified}}</h3>
              </div>
        </div>


    <div class="pt-8 w-2/3 mx-auto">
        <input type="button" class="p-4 rounded w-full bg-red-600 text-white" value="Log out" (click)="authService.SignOut()">
      </div>


<app-navigation></app-navigation>