<div class="pt-16">
<div class="bg-teal-200 bottom-0 fixed w-full ">
  <div class="w-full py-6">
    <ul class="w-full flex text-center">
      <li routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" class="w-1/4 opacity-50 text-blue-900"><i class="fa fa-list fa-lg  "></i></li>
      <li routerLink="/exercises" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" class="w-1/4  opacity-50 text-blue-900"><i class="fa fa-bullseye fa-lg "></i></li>
      <li routerLink="/history" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" class="w-1/4  opacity-50 text-blue-900"><i class="fa fa-history fa-lg"></i></li>
      <li routerLink="/user-profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" class="w-1/4  opacity-50  text-blue-900"><i class="fa fa-user fa-lg"></i></li>

    </ul>
  </div>

</div>
</div>