<div class="pt-16">
<div class="bg-teal-200 bottom-0 fixed w-full ">
  <div class="w-full py-4">
    <ul class="w-full flex text-center">
      <li routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" class="w-1/4 opacity-50 text-blue-900 font-bold text-sm pt-2"><i class="fa fa-th-large fa-lg pb-2"></i><br>Dashboard</li>
      <li routerLink="/measure" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" class="w-1/4  opacity-50 text-blue-900  font-bold text-sm pt-2"><i class="fa fa-chart-line fa-lg pb-2 "></i><br>Measure</li>
      <li routerLink="/exercises" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" class="w-1/4  opacity-50 text-blue-900  font-bold text-sm pt-2"><i class="fa fa-walking fa-lg pb-2"></i><br>Exercises</li>
      <li routerLink="/history" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}" class="w-1/4  opacity-50  text-blue-900  font-bold text-sm pt-2"><i class="fa fa-history fa-lg pb-2"></i><br>History</li>

    </ul>
  </div>

</div>
</div>